body, p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

/* HEADER */

.header{
  height: 48px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header_wrapper{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop_down_menu{
  display: flex;
}

.drop_down_menu--menu{
  padding-top: 15px;
}

.drop_down_menu--text{
  padding: 15px 0 0 15px;;
  font: bold 18px helvetica;
}

.dots{
  padding-top: 15px;
}

/* MAIN */

.main_wrapper{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.panels > div{
  margin-top: 50px;
}

.panels > div > ul{
  list-style: none;
  
}

.panels > div > ul > li{
  display: flex;
  padding: 20px;
  outline: 1px solid black;
}

.panels--instruments ul > li:nth-child(4){
  opacity: 0.4;
}

.panels--instruments, .panels--colors{
  margin: auto auto;
  width: 228px;
  height: 246px;
}

.li_p, .panels--colors label{
margin-left: 20px;
font: 14px helvetica;
color: #000000;
opacity: 0.5;
}

.colors_div{
width: 20px;
height: 20px;
border-radius: 50%;
border: 1px solid black;
}

.red{
  background-color: #F74141;
}

.blue{
  background-color: #41B6F7;
}

.selected{
  background-color: #00000025 !important;
}

input[type="color"]{
  border: none;
  width: 30px;
}

.size{
  margin-top: 50px;
  border: 1px solid #00000025;
  height: 100%;
}

.size button{
  width: 125px;
  height: 50px;
  border: none;
  padding: 0;
  background-color: white;
}

#canvas{
  width: 512px;
  height: 512px;
  margin-top: 50px;
  border: 1px solid #000000;
  image-rendering: pixelated;
  background-image: url('assets/images/background.png');
}